header {
	line-height: 75%;
	float:top;
	margin-top:50px;
	margin-bottom:10px;
	margin-left:10%;
	color:#5d5d5d;
	text-align:left;
	font-size: 400%;
	/* letter-spacing: 4px;  */
	font-family:'Rambla',sans-serif;
}

.rectangle1 {
	width: 100%;
	height: 0.5%;
	background-color:#5d5d5d;
}

.rectangle2 {
	width: 100%;
	height: 0.5%;
	background-color:#5d5d5d;
}

nav {
	/* background-color:orange;--> */
		word-spacing: 3px;
		width:100%;
		float:top;
    color: #aaaaaa;
		margin-left:10px;
}

body {
    background-color: white;
	font-family: 'Rambla', sans-serif;
}


h1 {
	line-height:75%;
	word-spacing: 2px;
	float:top;
	color: #aaaaaa;
	margin-left:10.5%;
	font-size: 100%;
}

h2 {
	line-height: 75%;
	text-transform:uppercase;
	font-weight: normal;
	color:#5d5d5d;
  text-align: left;
	font-size: 200%;
}

p {
		line-height: 0%;
		margin-left:10%;
		font-family: 'Rambla', sans-serif;
    font-size: 400%;
		color:#5d5d5d;
}

article {
	line-height: 0%;
	float:center;
	text-align:center;
	margin-left:10%;
	margin-right:10%;
  color: #aaaaaa;
	font-family: 'Rambla', sans-serif;
  color: #aaaaaa;
}

/* unvisited link */
a:link {
	text-decoration:none;
    color: #aaaaaa;
}

/* visited link */
a:visited {
	text-decoration:none;
    color: #aaaaaa;
}

/* mouse over link */
a:hover {
	text-decoration:none;
    color: #aaaaaa;
}

/* selected link */
a:active {
	text-decoration:none;
    color: #aaaaaa;
}
